<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css" type="text/css" />
	<title>Select Coffee</title>
	<style>
		/* .table-image {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		} */

		.table-image img {
			margin-bottom: 5px;
			width: 60px;
			height: 60px;
		}

		.empty-message {
			text-align: center;
			font-size: 1.2em;
			color: #6b4f3a;
			font-family: 'Raleway';

		}
	</style>
</head>

<body>
	<div id="tabs">
		<ul id="link-nav">
			<li><a href="/home"><span>Home</span></a></li>
			<li><a href="/form"><span>Take the Quiz!</span></a></li>
			<li><a href="#" class="current"><span>Coffee Recommendations</span></a></li>
			<li><a href="/logout"><span>Logout</span></a></li>
		</ul>
	</div>
	<h1>Select Your Coffee</h1>
	<hr>
	<form action="/order" method="post">
		<% if (coffees.length === 0) { %>
			<p class="empty-message">We currently do not have any coffee items that match your preferences! Please check back later!</p>
		<% } else { %>
			<table class="tb-border">
				<tr class="tb-border">
					<th class="tb-border">Image</th>
					<th class="tb-border">Name</th>
					<th class="tb-border">Description</th>
					<th class="tb-border">Flavors</th>
					<th class="tb-border">Price</th>
					<th class="tb-border">Select</th>
				</tr>
				<% coffees.forEach(coffee => { %>
				<tr class="tb-border">
					<td class="tb-border">
						<img src="<%= coffee.image_url %>" alt="<%= coffee.name %>">
					</td>
					<td class="tb-border">
						<strong><%= coffee.name %></strong>
					</td>
					<td class="tb-border"><%= coffee.description %></td>
					<td class="tb-border"><%= coffee.flavor_profile %></td>
					<td class="tb-border" align="right">$<%= coffee.price.toFixed(2) %></td>
					<td class="tb-border">
						<label>
							<input type="checkbox" name="selected_coffees" value="<%= coffee.id %>">
						</label>
					</td>
				</tr>
				<% }) %>
			</table>
			<p></p>
			<div>
				<button type="submit">Place Order</button>
			</div>
			<p>&nbsp;</p>
		<% } %>
	</form>
</body>

</html>
